// COLOR
$color-primary: #0082f1;
$color-primary-light: #00c6fb;
$color-primary-dark: #005bea;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-danger: #fd5667;

$color-white: #fff;
$color-black: #000;
// background-image: linear-gradient(to right, rgba($color-primary-ligh, 0.8), rgba($color-primary-dark, 0.8);
